<template>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          
          <!-- Encabezado de la tabla -->
          <thead>
            <tr>
              <th>#</th>
              <th>ID</th>
              <th>Photo</th>
              <th>Name</th>
              <th>Last name</th>
              <th>Register Date</th>
              <th>Actions</th> <!-- Agregado "Actions" para mayor claridad -->
            </tr>
          </thead>
          <!-- Cuerpo de la tabla -->
          <tbody class="table-group-divider" id="content">
  
            <!-- Fila de carga si la variable 'loading' es verdadera -->
            <tr v-if="this.loading">
              <td colspan="7"><h3>Loading...</h3></td>
            </tr>
            <!-- Iteración sobre los estudiantes si 'loading' es falso y hay datos en 'students' -->
            <tr v-else v-for="stu, i in this.students" :key="stu.id">
              <td v-text="(i+1)"></td>
              <td v-text="stu.id"></td>
              <td>
              <img v-if="stu.photo" style="width:150px !important ;" :src="stu.photo" class="img-thumbnail" alt="">
              <img v-else height="30" style="width:150px !important ;" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-256.png" class="img-thumbnail" alt="">
              </td>
              <td v-text="stu.name"></td>
              <td v-text="stu.last_name"></td>
              <td v-text="new Date(stu.created_at).toLocaleDateString('en-US')"></td>
              <td class="d-flex"> <!-- Agregado "d-flex" para alinear los botones -->
                <div class="btn-group"> <!-- Utiliza "btn-group" para agrupar los botones -->
                  <router-link :to="{path:'viewS/'+stu.id}" class="btn btn-info">
                    <i class="fa-solid fa-eye"></i>
                  </router-link>
                  <router-link :to="{path:'editS/'+stu.id}" class="btn btn-warning">
                    <i class="fa-solid fa-edit"></i>
                  </router-link>
                  <button class="btn btn-danger" v-on:click="$event => eliminar(stu.id,stu.name)">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
  
          </tbody>
  
        </table>
      </div>
    </div>
  </div>
</template>
  
  <script>
  import axios from 'axios';
  import { confirmar } from '../functions'
  
  export default {
    data(){
      return{
        students:null, // Almacenará los datos de los estudiantes
        loading:false, // Indica si la carga está en progreso
      }
    },
  
    mounted(){
      this.getStudents(); // Llama a la función para obtener los datos de los estudiantes al montar el componente
    },
  
    methods:{
      getStudents(){
        this.loading = true; // Indica que la carga está en progreso
        axios.get('https://laravelbackend.racielhernandez.com/api/v1/students').then(
          res => {
            this.students = res.data; // Almacena los datos de los estudiantes cuando la solicitud se completa
            this.loading = false; // Indica que la carga ha terminado
          }
        );
      },
      eliminar(id,name){
        confirmar('https://laravelbackend.racielhernandez.com/api/v1/students/',id,'Delete data','Do you want to delete '+name+'?');
        this.loading = false;
      }
    }
  }
  </script>
  