<template>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-dark text-white text-center">
            Add Student
          </div>
          <div class="card-body">
            <form v-on:submit="save">
              <div class="d-grid col-6 mx-auto mb-3">
                <img v-if="this.photo" style="height:100px !important ;" :src="this.photo" id="photoimg" class="img-thumbnail mx-auto my-3" alt="">
                <img v-else height="30" style="height:100px !important ;" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-256.png" class="img-thumbnail mx-auto my-3" id="photoimg" alt="">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <i class="fa-solid fa-user"></i>
                </span>
                <input type="text" v-model="name" id="name" placeholder="Add a name" class="form-control" required maxlength="50">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <i class="fa-solid fa-user"></i>
                </span>
                <input type="text" v-model="last_name" id="last_name" placeholder="Add a last_name" class="form-control" required maxlength="50">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <i class="fa-solid fa-gift"></i>
                </span>
                <input type="file" v-on:change="previewPhoto" class="form-control" accept="image/png, image/jpeg, image/gif">
              </div>
              <div class="d-grid col-6 mx-auto mb-3">
              <button class="btn btn-success">
                <i class="fa-solid fa-floppy-disk">
                   Register
                </i>

              </button>  
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

  
  <script>
  import { showAlert, sendRequest } from '../functions'
  
  export default {
    data(){
      return{
        name:'', // Almacenará los datos de los estudiantes
        last_name:'', // Almacenará los datos de los estudiantes
        photo:'', // Almacenará los datos de los estudiantes
        url:'https://laravelbackend.racielhernandez.com/api/v1/students', // Almacenará los datos de los estudiantes
        loading:false, // Indica si la carga está en progreso
      }
    },
  
    methods:{
      save(){
        event.preventDefault();
        var myPhoto =  document.getElementById('photoimg');
        this.photo = myPhoto.src;
        if(this.name.trim()==''){
          showAlert('Add a name','warning','name')
        }else if(this.name.trim()==''){
          showAlert('Add a last name','warning','last name')
        }else{
          var parameters = {name:this.name.trim(),last_name:this.last_name.trim(),photo:this.photo.trim()} 
          sendRequest('POST',parameters,this.url,'Student Added');
        }
        
      },
      previewPhoto(event){
        var reader = new FileReader();
        reader.readAsDataURL(event.target.files[0]);
        reader.onload = function(){
          var myPhoto =  document.getElementById('photoimg');
          myPhoto.src = reader.result;
          this.photo = myPhoto.src;
        }
      }
    }
  }
  </script>
  