<template>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-dark text-white text-center">
            View Student
          </div>
          <div class="card-body">
            <div class="d-grid col-6 mx-auto mb-3">
            <router-link :to="{path:'/'}" class="btn btn-info">
              <i class="fa-solid fa-arrow-left"></i> Back to List

            </router-link>
          </div>
              <div class="d-grid col-6 mx-auto mb-3">
                <img v-if="this.photo" style="height:100px !important ;" :src="this.photo" id="photoimg" class="img-thumbnail mx-auto my-3" alt="">
                <img v-else height="30" style="height:100px !important ;" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-256.png" class="img-thumbnail mx-auto my-3" id="photoimg" alt="">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <i class="fa-solid fa-user"></i>
                </span>
                <label v-text="name" class="form-control"></label>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <i class="fa-solid fa-user"></i>
                </span>
                <label v-text="last_name" class="form-control"></label>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  
  <br>
  
  <br>
</template>

  
<script>
import { showAlert } from '../functions';
import { useRoute } from 'vue-router';
import axios from 'axios';

export default {
  data() {
    return {
      id: 0,
      name: '',
      last_name: '',
      photo: '',
      url: 'https://laravelbackend.racielhernandez.com/api/v1/students',
      loading: false,
    };
  },
  mounted() {
    const route = useRoute();
    this.id = route.params.id;
    this.url += '/' + this.id;
    this.getStudent();
  },

  methods: {
    getStudent() {
      axios.get(this.url).then((res) => {
        this.name = res.data.data.name;
        this.last_name = res.data.data.last_name;
        this.photo = res.data.data.photo;
      });
    },
    update() {
      if (this.name.trim() === '') {
        showAlert('Add a name', 'warning', 'name');
      } else if (this.last_name.trim() === '') {
        showAlert('Add a last name', 'warning', 'last_name');
      } else {
        var parameters = {
          name: this.name.trim(),
          last_name: this.last_name.trim(),
          photo: this.photo.trim(),
        };

        axios
          .put(this.url, parameters)
          .then((response) => {
            console.log('Student Updated', response.data);

            // Show a SweetAlert2 success message
            Swal.fire({
              icon: 'success',
              title: 'Student Updated',
              showConfirmButton: false,
              timer: 1000, // Automatically close after 1.5 seconds (adjust as needed)
            });

            // Redirect to the home page
            router.push({ name: 'home' });
          })
          .catch((error) => {
            console.error(error);
          });
      }
    },
    previewPhoto(event) {
      var reader = new FileReader();
      reader.readAsDataURL(event.target.files[0]);
      reader.onload = () => {
        var myPhoto = document.getElementById('photoimg');
        myPhoto.src = reader.result;
        this.photo = myPhoto.src;
      };
    },
  },
};
</script>

  