<template>
<nav class="navbar navbar-expand-lg navbar-dark bg-success ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Laravel Vue Academic Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Students
          </a>
          <ul class="dropdown-menu">
            <li>
              <router-link class="dropdown-item" to="/">Students List</router-link>
            </li>
            <li>
                <router-link class="dropdown-item" to="/createS">Add Student</router-link>
            </li>
          
          </ul>
        </li>
      </ul>
    
    </div>
  </div>
</nav>
<div class="container-fluid">
  <router-view/>
</div>
</template>

